<div dir="rtl" class="container-fluid footer-wrapper">
    <div class="row">
        <div class="footer-sidebar-wrapper footer-sidebar-style-dark with-bg"
            data-style="background-image: url(upload/footer-image-back.jpg);">
            <div class="footer-sidebar sidebar container footer-sidebar-col-4">
                <div class="textwidget">

                    <div class="col-md-6 mt-md-0 mt-3">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d436683.7238690822!2d35.885961262858345!3d31.99044103798812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca01f7035060b%3A0x59ed4e9a5b02e915!2sAbdallah%20Ajlouni%2C%20Amman%2C%20Jordan!5e0!3m2!1sen!2sus!4v1596977362232!5m2!1sen!2sus"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0" style="display: inline;">
                        </iframe>
                    </div>
                    <div class="col-md-6 mb-md-0 mb-3">
                        <h1>اتصل بنا</h1>
                        <p class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon"><i class="fa fa-map-marker"
                                    aria-hidden="true"></i></span>
                            <span class="elementor-icon-list-text">المدينه الرياضيه. خلف فندق القدس و مقهى
                                الشريف .
                                شارع
                                عبد الله العجلوني عمارة رقم 10</span>
                        </p>
                        <p class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon"><i class="fa fa-envelope-square"
                                    aria-hidden="true"></i></span>
                            <span class="elementor-icon-list-text">info@unionjp.com</span>
                        </p>
                        <p class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon"><i class="fa fa-phone-square"
                                    aria-hidden="true"></i></span>
                            <span class="elementor-icon-list-text">00962 6 5159630 </span>
                        </p>
                        <p class="elementor-icon-list-item">
                            <span class="elementor-icon-list-icon"><i class="fa fa-fax" aria-hidden="true"></i></span>
                            <span class="elementor-icon-list-text">00962 6 5159620</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-style-dark footer-col-2">
            <div class="container text-center">
                <div class="footer-copyright">جميع الحقوق محفوظةلاتحاد الناشرين الاردنين</div>
            </div>
        </footer>
    </div>
</div>