

<header class="sticky-header main-header sticky-header-elements-headeronly mainmenu-position-menu_in_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-left">
                    <a class="logo-link" href="#">
                        <img src="upload/logo.png" alt="Barrel" class="regular-logo" /><img src="./upload/logo.png"
                            alt="Barrel" class="light-logo" />
                    </a>
                    <div class="mobile-main-menu-toggle" data-toggle="collapse" data-target=".collapse"><i
                            class="fa fa-bars"></i></div>
                    <div class="mobile-trigger-search">
                        <a class="search-toggle-btn"><i class="fa fa-search"></i></a>
                    </div>
                </div>

                <div class="header-center">
                    <div id="navbar"
                        class="navbar navbar-default clearfix mgt-mega-menu menu-right menu-uppercase menu-style-border-bottom">
                        <div class="navbar-inner">
                            <div class="navbar-collapse collapse">
                                <ul id="menu-main-menu-2" class="nav">
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#"><span>عن الاتحاد</span></a>
                                        <ul class="sub-menu megamenu-column-1 level-0">
                                            <li class="menu-item"><a href="#">نبذة عن الاتحاد</a></li>
                                            <li class="menu-item"><a href="#">الرؤية</a></li>
                                            <li class="menu-item"><a href="#">مجلس الإدارة</a></li>
                                            <li class="menu-item"><a href="#">الأهداف</a></li>
                                            <li class="menu-item"><a href="#">خدماتنا</a></li>
                                            <li class="menu-item"><a href="#">للتحميل</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#"><span>الأعضاء</span></a>
                                        <ul class="sub-menu megamenu-column-1 level-0">
                                            <li class="menu-item"><a href="#">الميزات</a></li>
                                            <li class="menu-item"><a href="#">التسجيل</a></li>
                                            <li class="menu-item"><a href="#">الناشرين الأردنيين</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#"><span>مركز المعلومات</span></a>
                                        <ul class="sub-menu megamenu-column-1 level-0">
                                            <li class="menu-item"><a href="#">كيف تنشر كتاباً</a></li>
                                            <li class="menu-item"><a href="#">الخطوات الأساسية لتأسيس دار نشر</a></li>
                                            <li class="menu-item"><a href="#">الحصول على رقم معياري دولي</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#"><span>جدول المعارض الدولية</span></a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#"><span>المركز الإعلامي</span></a>
                                        <ul class="sub-menu megamenu-column-1 level-0">
                                            <li class="menu-item">
                                                <a href="#">أخبار الاتحاد</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">أخبار دولية</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">صور</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">فيديو</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-has-children mgt-menu-fullwidth-inside menu-item-multicolumn menu-item-multicolumn">
                                        <a href="#"><span>معرض عمان الدولي للكتاب </span></a>
                                        <ul class="sub-menu megamenu-column-4 mgt-menu-fullwidth level-0">
                                            <li class="menu-item">
                                                <a href="#">عن المعرض</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">نظام الإشتراك</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">طلب اشتراك</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">الأجنحة وتسديد الرسوم</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">مواعيد مهمّة</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">الخدمات</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">الشحن والتخليص</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="#">قائمة الكتب المشارك بها</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li
                                        class="menu-item menu-item-home current-menu-item page_item page-item-19 current_page_item">
                                        <a href="#"><span>الصفحة الرئيسية</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-right">
                    <ul class="header-nav">
                        <li class="search-toggle">
                            <div id="trigger-search">
                                <a class="search-toggle-btn"><i class="fa fa-search"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>